*::-webkit-input-placeholder {
	color: #9cc134!important;
	opacity: 1;
	font-style: italic;
}
*:-moz-placeholder {
	color: #9cc134!important;
	opacity: 1;
	font-style: italic;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
	font-style: italic;
}
*:-ms-input-placeholder {
	color: #9cc134!important;
	opacity: 1;
	font-style: italic;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "Source Sans Pro", sans-serif;
	overflow-x: hidden;
	color: #000000;
}

.hidden {
	display: none;
}

.text-center {
	text-align: center;
}

.inline-box {
	letter-spacing: -5px;
}

.inline-middle {
	display: inline-block;
	vertical-align: middle;
	float: none;
	letter-spacing: normal;
}

/*buttons*/
.buttons {
	padding: 20px 0;
}

.green_btn {
	background: #9cc134;
	color: #ffffff;
	border: solid 3px #8fb130;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	padding: 8px 20px 9px;
	letter-spacing: 2px;
}

.green_btn.bordered {
	background: transparent;
	color: #9cc134;
	border-color: #9cc134;
}

.btn.with_border {
	border: solid 3px #fff;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 8px 21px;
	letter-spacing: 2.3px;
}

.green_link {
	color: #9cc134;
	font-size: 18px;
	text-decoration: underline;
	font-weight: bold;
}

.green_link:hover {
	text-decoration: none;
}

/*===============================
	Typografy
================================*/

/*titles*/
h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
	line-height: normal;
	font-weight: inherit;
}

.title1,
h1 {
	font-size: 36px;
	margin-bottom: 20px;
	font-weight: 900;
	line-height: 1.3em;
}
.title1 small,
h1 small {
	font-size: 20px;
	display: block;
	font-style: italic;
	font-weight: 600;
	line-height: normal;
	padding: 5px 0 13px;
}

.title2,
h2 {
	font-size: 30px;
	margin-bottom: 15px;
}

.title_3,
h3 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 900;
}

h4 {
	font-size: 18px;
	line-height: 20px;
}

.header-title {
	font-size: 60px;
	color: #ffffff;
	font-weight: 900;
}

/*Font sizes*/
.fsz30 {
	font-size: 30px;
}
.fsz24 {
	font-size: 24px;
	font-weight: bold;
}
.fsz10 {
	font-size: 10px;
}

.fsi {
	font-style: italic;
}

.fwb {
	font-weight: bold;
}

.t_green {
	color: #9cc134;
}

.gray {
	background: #f9f9f9;
}

.text_control p {
	line-height: 1.4;
	margin-bottom: 7px;
}

.text_control a {
	text-decoration: none;
	color: #9cc134;
	border-bottom: solid 1px #9cc134;
	font-weight: bold;
}

.text_control a:hover {
	text-decoration: none;
	border-bottom-color: transparent;
}


.list {
	padding: 10px 0;
}

.list li {
	position: relative;
	padding-left: 30px;
	font-size: 16px;
	margin-bottom: 10px;
}

.list li + li {
	margin-top: 3px;
}

.list li:before {
	font-family: 'FontAwesome';
	content: "\f00c";
	color: #9cc134;
	position: absolute;
	left: 0;
	top: 0;	
}

/*Paddings*/
.pad_75 {
	padding-top: 75px;
	padding-bottom: 75px;
}
.pad_70 {
	padding-top: 70px;
	padding-bottom: 70px;
}
.pad_65 {
	padding-top: 65px;
	padding-bottom: 65px;
}
.pad_60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.pad_50 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.pad_40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.pad_45 {
	padding-top: 45px;
	padding-bottom: 45px;
}
.pad_30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pad_25 {
	padding-top: 25px;
	padding-bottom: 25px;
}
.pad_20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.pad_10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pt_60 {
	padding-top: 60px;
}

.pt_50 {
	padding-top: 50px;
}

.pt_40 {
	padding-top: 40px;
}

.pt_35 {
	padding-top: 30px;
}

.pt_30 {
	padding-top: 30px;
}

.pb_10 {
	padding-bottom: 10px;
}

.pb_20 {
	padding-bottom: 20px;
}

.pb_30 {
	padding-bottom: 30px;
}

.pb_40 {
	padding-bottom: 40px;
}

.pb_45 {
	padding-bottom: 45px;
}

.pb_50 {
	padding-bottom: 50px;
}

.pb_60 {
	padding-bottom: 60px;
}

.pb_75 {
	padding-bottom: 75px;
}
.pl_50 {
	padding-left: 50px;
}

.pl_30 {
	padding-left: 30px;
}

.mb_50 {
	margin-bottom: 50px;
}

.mb_60 {
	margin-bottom: 60px;
}

p {
	padding: 6px 0 4px;
	margin: 0;
	line-height: 1.2em;
}

a {
	font-weight: inherit;
	color: #9cc134;
}

a img, :link img, :visited img {
	border: 0;
	outline: 0;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ttu {
	text-transform: uppercase;
}

/*navbar*/
.navnar-top {
	background: #ffffff;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .17);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .17);
	box-shadow: 0 2px 5px rgba(0, 0, 0, .17);
	border: none;
	margin-bottom: 0;
	z-index: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navnar-top .buttons {
	float: right;
}

.navbar-toggle {
	margin: 9px 0;
}

.navbar-toggle .icon-bar {
	background: #000;
	width: 30px;
	height: 3px;
}

.navbar-brand {
	height: auto;
	margin-left: 0!important;
	padding: 8px 0;
}

.navnar-top .nav > li {
	margin: 0 10px;
}

.navnar-top .nav li > a {
	font-weight: 900;
	text-transform: uppercase;
	color: #000000;
	font-size: 16px;
	letter-spacing: 3px;
	padding: 10px 15px;
}

.navnar-top .nav li > a:hover,
.navnar-top .nav li.active > a {
	color: #9cc134;
	background: none;
}

.navnar-top .nav {
	padding-top: 20px;
	padding-bottom: 20px;
}

#sub-header {
	background: url("../img/header_bg.jpg") no-repeat 50% 50% / 100% auto fixed;
	position: relative;
	padding: 3.2% 0 2.6%;
	color: #ffffff;
}

/*#sub-header*/
#sub-header > .container {
	z-index: 1;
	position: relative;
}

#sub-header:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(156,193,52,.80);
}

#sub-header p {
	font-weight: 600;
	line-height: 1.2em;
	padding: 0 2em;
}

/*home slider*/
.slider1 {
	margin: 0 auto;
	padding: 20px 0 0;
}

.slider1 img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*.confirm-box*/
.confirm-box {
	background: #9cc134;
	color: #ffffff;
	font-weight: 300;
	font-size: 18px;
}

.confirm-box h2 {
	font-weight: inherit;
	margin-bottom: 10px;
}

.confirm-box .inline-middle {
	padding-top: 17px;
	padding-bottom: 17px;
}

.confirm-box img {
	display: block;
}



/*.workshop-section*/

.workshop-section {
	background: #f9f9f9;
}

.workshop-section .workshop_box {
	letter-spacing: -5px;
}

.workshop-section .workshop_item {
	display: inline-block;
	float: none;
	letter-spacing: normal;
	padding: 0 10px;
	margin: 10px 0;
	vertical-align: top;
	text-align: left;
}

.workshop-inner {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
	box-shadow: 0 0 5px rgba(0, 0, 0, .15);
	background: #fff;
	height: 100%;
	position: relative;
	padding-bottom: 53px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}

.green_item .workshop-inner {
	background: #9cc134;
	color: #ffffff;
}

.green_item .workshop-inner a {
	border-color: #fff;
}

.workshop_item figure {
	overflow: hidden;
	height: 202px;
	position: relative;
}


.workshop_item figure:before {
	content: "";
	background: url("../img/book_mark.png") no-repeat;
	width: 16px;
	height: 53px;
	position: absolute;
	left: 31px;
	top: 0;
}

.workshop_item img {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 100%;
}

.workshop_item .text {
	padding: 16px 25px 0;
	height: 145px;
}

.workshop_item h3 {
	text-transform: uppercase;
}

.workshop_item h3 a {
	text-decoration: none;
	border-bottom: solid 2px #a3a3a3;
	color: inherit;
	letter-spacing: 2px;
}

.workshop_item h3 a:hover {
	border-color: transparent;
}

.workshop_item p {
	font-size: 14px;
	line-height: normal;
}

.workshop_item .course_inf {
	padding: 0 0 20px 25px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.workshop_item .course_inf li {
	display: inline-block;
	margin: 0 3px;
	font-size: 14px;
	font-weight: bold;
}

.workshop_item .course_inf li + li {
	margin-left: 6px;
}

.workshop_item .course_inf li i {
	color: #9cc134;
	margin-right: 4px;
}

/*advantages*/
.advantages figure {
	padding: 0 0 14px 30px;
}

.advantages p {
	font-size: 14px;
}

/*testimonials*/

.testimonials {
	background: url("../img/testimonials_bg.png");
}

.slider2 {
	margin-top: -20px!important;
}

.slider2 .owl-item {
	height: 263px;
	padding-top: 60px;
	overflow: hidden;
}

.slider2 .slide_inner {
	height: 100%;
	border: solid 2px #9cc134;
	padding: 0 50px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: rgba(255,255,255,0.50);
	position: relative;
}

.slider2 .slide_inner:before {
	content: '';
	background: url("../img/testimonials_q.png") no-repeat;
	width: 45px;
	height: 33px;
	position: absolute;
	left: 45px;
	top: -24px;
}


.slider2 .review_text {
	float: left;
	padding: 35px 0;
	font-size: 24px;
	font-weight: 300;
	color: #9cc134;
}

.slider2 .owl-item img {
	width: 233px;
	height: auto;
	display: block;
	margin: -61px 0 0;
	float: right;
	z-index: 1;
	position: relative;
}

/*partners_en_client*/
.partners_en_client img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	padding: 8px 0 35px;
	opacity: .50;
	height: 100%;
}

.partners_en_client img:hover {
	-webkit-filter:none;
	filter: none;
	opacity: 1;
}

/*question_section*/
.question_section {
	background: #f3f3f3;
}

.form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.form .form-group input,
.form .form-group textarea,
.form .form-group select {
	padding-left: 45px;
	font-size: 14px;
	border: solid 2px transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
	resize: none;
	color: #000000;
}

.form .form-group input,
.form .form-group select {
	height: 40px;
}

.form .form-group input:focus {
	border-color: #9cc134;
}

.form .f_icon {
	background: url("../img/icons.svg") no-repeat;
	color: #9cc134;
	width: 17px;
	height: 17px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	margin: 11px 13px;
	border: 0;
	font-size: 18px;
	background-position: -9999px -9999px;
}

.form .f_icon.f_file {
	background-position: 0 0;
}

.form .f_icon.f_user {
	background-position: 0 -19px;
}

.form .f_icon.f_phone {
	background-position: 0 -35px;
}

.form .f_icon.f_mail {
	background-position: 0 -52px;
}

.form .f_icon.f_comment {
	background-position: 0 -71px;
}

.form .error .f_icon {
	background-position-x: 100%;
}

.form .form-group.error input {
	border-color: #c3220c;
}


	/*question_section*/
.reklam_blocks {
	background: #bca1b9;
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
}

.reklam_blocks .image {
	text-align: right;
}

.reklam_blocks a {
	font-weight: bold;
	text-decoration: underline;
	color: #ffffff;
}

.reklam_blocks a:hover {
	text-decoration: none;
}


.reklam_blocks img {
	margin-top: -35px;
	/*margin-left: -84px;*/
}

/*#footer*/

#footer {
	color: #ffffff;
}

.navbar-bottom {
	background: #9cc134;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-bottom: 0;
	border-top: solid 1px #fff;
}

.navbar-bottom .f-sub-nav {
	margin: 0 20px;
}

.navbar-bottom .f-sub-nav li {
	float: none;
}

.navbar-bottom .f-main-nav li a,
.navbar-bottom .f-sub-nav li a {
	font-size: 14px;
	color: #ffffff;
	padding: 0;
}

.navbar-bottom .f-main-nav li a{
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
}

.navbar-bottom .f-sub-nav li a {
	text-decoration: underline;
}

.navbar-bottom .f-sub-nav li a:hover {
	text-decoration: none;
}

.copyright {
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 5px;
	font-size: 11px;
}

#order_form {
	padding: 40px 70px;
	width: 490px;
}

/*.about*/

.pof_box {
	background: #f5f5f5;
}

.pof_box .text_info {
	line-height: 1.3;
}

.pof_box .prof_soc a {
	color: #9cc134;
	font-size: 20px;
	margin: 0 5px;
	text-decoration: none;
}

/*contact*/
.contact_section {
	background: #f3f3f3;
}
.contact_section .mailto {
	font-size: 24px;
	color: #000000;
	font-weight: 900;
	text-decoration: underline;
	display: inline-block;
	margin: 20px 0;
}

.contact_section .mailto:hover {
	text-decoration: none;
	color: #9cc134;
}

.contact_section .mailto i.fa {
	margin-right: 15px;
	font-size: 18px;
}

/*Course*/

.page_img img {
	width: 100%;
	max-height: 300px;
	height: auto;
}

.course_options {
	border: solid 2px #9cc134;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 40px 0;
	margin-bottom: 5%!important;
}

.course_options ul li {
	padding-top: 5px;
	padding-bottom: 5px;
}

.course_options .ttl {
	color: #9cc134;
	font-weight: 900;
	font-size: 11px;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: 1px;
}

.course_options .fa {
	vertical-align: middle;
	color: #9cc134;
	width: 23px;
}

.course_options p {
	font-size: 14px;
	padding: 0 0 0 25px;
}

.course_options .course_price {
	font-size: 18px;
	font-weight: 900;
}
.workshop_item img.cursor{
	width: auto !important;
	margin-left: auto !important; 
	max-width: auto !important;
}
.wpcf7-form-control-wrap input{
	width: 350px !important;
}
.screen-reader-response{
	display: none !important;
}
.current-menu-item a{
	color: #9cc134 !important;
  background: none;
}